

lato-font() {
	font-family: 'Lato', sans-serif;
}

open-sans-font() {
	font-family: 'Open Sans', sans-serif;
}

inconsolata-font() {
	font-family: 'Inconsolata', sans-serif;
}


// $Smallcaps
// -------------------------------------//
// http://blog.hypsometry.com/articles/true-small-capitals-with-font-face
// ISSUE #1 : https://github.com/typeplate/typeplate.github.com/issues/1

smallcaps() {
    font-variant: small-caps
    text-transform: lowercase
}
